.suggestion {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 7px 6px rgba(255, 205, 205, 0.1);
  position: absolute;
  top: 50px;
  width: 100%;
}

.suggestion button {
  background: none;
  border: none;
}
.suggestion button:hover {
  background-color: #343434;
}
